.flat-div{
    width: 170px;
    height: 250px;
    color: #123D6A;
    font-weight: bold;
    display: grid;
    justify-content: center;
    font-size: 13px;
    margin-bottom: 70px;
    border: 2px solid #6567AC;
    border-radius: 5px;
    text-align: left;
    
}
.flat-img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 10px;
    cursor: pointer;
}
.flat-title{
    cursor: pointer;
    margin-top: 2px;
    color: #123D6A;
    font-weight: bold;
    display: grid;
    font-size: 16px;
}
.flat-address{
    margin-top: 2px;
    
}
.flat-price{
    margin-top: 5px;
    
}