.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}

.checkout-label{
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}
.checkout-input{
    margin-bottom: 10px;
    width: 307px;
    height: 30px;
    border-color: #123D6A;
    border-inline-color: #123D6A;
    border-radius: 5px;
    background-color: #FAF4F0;
}
.checkout-span{
    font-size: 12px;
    padding: 3px;
    font-weight: bold;
    color: #AB3B61;
    display: none;
    width: 305px;
    height: 10px;
}

.checkout-input:invalid[focused="true"]{
    border: 1px solid #AB3B61;
}

.checkout-input:invalid[focused="true"] ~ .checkout-span{
    display: block;
}