.booking-tenant-main-div{
    color: #123D6A;
    width: 900px;
    background-color: #FAF4F0;
    border: 2px solid #6567AC;
    border-radius: 5px;
    margin-top: 3%;
}
.booking-tenant-top-div{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 5%;
}
.booking-time-span{
    
    font-weight: bold;
}
.space-name-span{
    font-weight: bold;
}
.total-price-span{
    font-weight: bold;
}
.cancel-btn{
    width: 130px;
    height: 40px;
    background-color: #AB3B61;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0.8%;
}
.cancel-btn:hover{
    background-color: #963253;
}
.booking-tenant-bot-div{
    display: flex;
    margin-top: 3%;
    align-items: center;
    margin-left: 4%;
    margin-right: 5%;
    margin-bottom: 3%;
}
.booking-from-span{
    font-weight: bold;
    font-size: 14px;
}
.booking-date-from-span{
    font-size: 14px;
}
.booking-price-span{
    font-weight: bold;
    margin-left: 7.7%;
    font-size: 18px;
}
.view-contacts-btn{
    width: 130px;
    height: 40px;
    cursor:pointer;
    margin-left: 20%;
    background-color: #FAF4F0;
    border: 2px solid #6567AC;
    color: #6567AC;
    font-weight: bold;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center
}
.booking-icon-down{
   color: #6567AC;
}
.booking-icon-up{
    color: #6567AC;
}
.booking-tenant-bot-wrapper{
    display: flex;
    flex-direction: column;
}
.booking-to-span{
    font-weight: bold;
}
.booking-tenant-bot-wrapper2{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.booking-date-to-span{
    
    font-size: 14px;
}
.booking-tenant-bot-wrapper3{
    margin-left: 12%;
    display: flex;
    flex-direction: column;
}
.booking-street-span{
    width: 210px;
    height: 30px;
    margin-left: 10.5%;
    font-size: 12px;
}
.booking-address-span{
    margin-left: 10.5%;
    font-weight: bold;
    font-size: 14px;
}
.booking-hidden-top-div{
    display: flex;
    align-items: center;
    margin-left: 4%;
    font-size: 14px;
}
.booking-hidden-name{
    font-weight: bold;
}
.booking-hidden-phone{
    font-weight: bold;
    margin-left: 23%;
}
.booking-hidden-contact{
    font-weight: bold;
    margin-left: 15.2%;
}
.booking-hidden-bot-div{
    display: flex;
    align-items: center;
    margin-left: 4%;
    margin-top: 2%;
    font-size: 14px;
    margin-bottom: 2%;
}
.booking-hidden-name-span{
    width: 180px;
}
.booking-hidden-phone-span{
    width: 180px;
    margin-left: 6%;
}
.booking-hidden-contact-span{ 
    width: 330px;
    margin-left: 6%;
}