.checkout-div{
    min-height: 100vh;
    width: 100%;
    color: #123D6A;
    background-color: #FAF4F0;
}

.checkout-top{
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkout-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.back-icon{
    color: #AB3B61;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.back-span{
    font-size: 15px;
    cursor: pointer;
    margin-right: 35%;
}
.checkout-h2{
    margin-right: 35%;
    font-size: 24px;
    
}

.checkout-left{
    display: grid;
    font: 15px;
}
.booking-period-div{
    margin-bottom: 20px;
}
.chechkout-date{
   width: 310px;
   max-height: 40px;
   margin-right: 16px;
   background-color: #FAF4F0;
   border-color: #123D6A;
   border-inline-color: #123D6A;
   border-radius: 5px;
}
.price-span{
    color: #AB3B61;
    font-size: 24px;
    font-weight: bold;
    margin-left: 140px;
}
.price-per-day-span{
    opacity: 50%;
    margin-bottom: 30px;
}
.confirm-btn{
    width: 307px;
    height: 38px;
    background-color: #AB3B61;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 60%;
}
.confirm-btn:hover{
    background-color: #792742;
}

.confirm-btn:hover{
    background-color: #7d2c47;
}

.checkout-right{
    margin-left: 20%;
}
.description-h4{
    margin-top: 0;
}
.address-h4{
    margin-bottom: 10px;
}
.address-p{
    margin-bottom: 30px;
}
.checkout-map{
    height: 325px;
    width: 489px;
}