
.login-container{
    background-color: #FAF4F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 95px);
}
.sign-in-h2{
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: #123D6A;
}
p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
.spanHome{
    height: 18px;
    color: #123d6ab3;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}
.container{
    background-color: #FAF4F0;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 856px;
    max-width: 100%;
    min-height: 580px;
    border: 3px solid #AB3B61;
}
.form-container form{
    background-color: #FAF4F0;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
}
.form-container input{
    background-color: #FAF4F0;
    padding: 12px 15px;
    margin: 8px 0;
    width: 307px;
    height: 30px;
    border: 2px solid #123D6A;
    border-radius: 4px;
    outline: none;
    color: black;
}
.btnHome {
    width: 307px;
    height: 36px;
    background: #AB3B61;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 45px;
}
.btnHome:active{
    transform: scale(0.95);
    
}
.btnHome:focus{
    outline: none;
}
.h1Home{
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
}
.sign-in-description-paragraph{
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}
.sign-up-description-paragraph{
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    width: 220px;
}
.ghost{
    background: transparent;
    color: #fff;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    width: 170px;
    height: 45px;
    border: 2px solid #FFF;
    border-radius: 5px;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;

}

.q{
    background: transparent;
    color: #fff;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    width: 170px;
    height: 45px;
    border: 2px solid #FFF;
    border-radius: 5px;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.sign-in-container{
    left:0;
    width: 50%;
    z-index:2;

}
.sign-up-container{
    left:0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}
.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay{
    background:#AB3B61    ;
   /* background: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 / cover;
   */ color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-panel{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-right{
    right: 0;
    transform: translateX(0);
}
.overlay-left{
    transform: translateX(-20%);
}
.paragraph-error{
    color: #CC3333;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    margin-top: -8px;
}
/* Animation */

/* Move sigin to the right */
.container.right-panel-active .sign-in-container{
    transform: translateX(100%);
}

/* Move overlay to left */
.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}

/* Bring sign up over sign in */

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* Mover overlay back to right */
.container.right-panel-active .overlay{
    transform: translateX(50%);
}
.container.right-panel-active .overlay-left{
    transform: translateX(0);
}
.container.right-panel-active .overlay-right{
    transform: translateX(20%);
}